.home-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-image: url("../assets/pinwheel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -20vw;
  min-height: 100vh;
  width: 100vw;

  .text-overlay-section.scented-specials-1 {
    background: url("../assets/alpaca-front.jpg") center/cover no-repeat;

    .overlay-text {
      width: 200px;
      height: 100%;
      line-height: 50px;
      padding: 10px 20px;
      border-radius: 5px;
      position: relative;
      top: 480px;
    }
  }

  .wavy-line {
    position: relative;
    bottom: 100px;
    background-color: white;
    width: 100%;
    height: 50px;
    background: url("data:image/svg+xml,\
      <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='50'>\
        <path d='M0,25 Q50,0 100,25 T200,25 T300,25 T400,25 T500,25' fill='transparent' stroke='black' stroke-width='2' stroke-dasharray='10,10'/>\
      </svg>")
      repeat-x;
  }

  // .dark-overlay {
  //   width: 200px;
  //   background-color: black;

  //   &:hover {
  //     border: 1px solid blue;
  //     background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  //   }

  //   .text-overlay-section.choco-chip {
  //     height: 100%;
  //     background: url("../assets/chocolate-chip-cookies.jpg") center/cover
  //       no-repeat;
  //     cursor: pointer;

  //     .overlay-text {
  //       width: 200px;
  //       padding: 10px 20px;
  //       border-radius: 5px;
  //       position: relative;
  //       visibility: hidden;
  //     }

  //     &:hover {
  //       .overlay-text {
  //         visibility: visible;
  //       }
  //     }
  //   }
  // }

  .text-overlay-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .overlay-text {
      width: 200px;
      color: white;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
    }
  }

  .section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 30px;

    .scented-specials-1 {
      width: 400px;
      height: 600px;
    }

    .scented-specials-2 {
      align-self: center;
      width: 300px;

      img {
        width: 300px;
      }

      button {
        position: relative;
        left: 90px;
        bottom: 80px;
        width: 115px;
        height: 60px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 30px;
      }
    }
  }

  .section-2 {
    height: 500px;
    margin-top: 50px;
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;

    .image-container {
      position: relative;
      width: 200px;
      height: 330px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      &:hover {
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);

          .overlay-text {
            visibility: visible;
          }
        }
      }

      .overlay-text {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;

        &:hover {
          visibility: visible;
        }
      }
    }
  }
}

@media (max-width: 830px) {
  .home-container {
    .section-1 {
      flex-direction: column;
      align-items: center;

      .scented-specials-1 {
        width: 300px;
        height: 500px;
        position: relative;
        right: 10%;

        .overlay-text {
          font-size: 26px;
          top: -170px;
        }
      }

      .scented-specials-2 {
        width: 200px;
        z-index: 1;
        img {
          width: 200px;
          position: relative;
          left: 50%;
          bottom: 100px;
        }

        button {
          left: -25vw;
          bottom: 170px;
          width: 35vw;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .home-container {
    .section-1 {
      .scented-specials-1 {
        width: 200px;
        height: 400px;

        .overlay-text {
          font-size: 20px;
          line-height: 40px;
          top: -150px;
        }
      }

      .scented-specials-2 {
        width: 130px;
        z-index: 1;
        img {
          width: 130px;
          position: relative;
          left: 50%;
          bottom: 100px;
        }

        button {
          width: 120px;
          left: -70px;
          bottom: 170px;
        }
      }
    }
  }
}
