.landing-page-container {
  width: 100vw;

  .heading-section-container {
    width: 100%;
    background-image: url("../assets/landing-page/landing-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading-overlay {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);

      h1 {
        font-size: 80px;
        margin: 0;
      }

      .image-heading-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        img {
          width: 300px;
          padding-right: 100px;
        }

        .heading-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 30px;
        }
      }
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Navigation buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
  }

  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  .slideshow-1-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;

    img {
      width: 400px;
    }
  }

  .slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slides img {
    width: 100%;
    flex: 0 0 100%;
    padding: 2%;
    background-color: white;
  }

  .contact-button-wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      font-size: 24px;
      width: 50vw;
      padding: 30px;
      color: white;
      background-color: #f57d7f;
      border-color: #c73a3c;
      border-radius: 10px;
      cursor: pointer;
      font-family: "Merriweather", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "wdth" 100;

      &:hover {
        background-color: #871c1e;
      }
    }
  }

  main {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .process-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .delivery-img {
      width: 80%;
      padding: 2%;
    }

    h2 {
      color: #0c5c0c;
      font-size: 30px;
    }

    h3 {
      font-size: 22px;
    }

    .step-wrapper {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .calendly-wrapper {
      min-height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .calendly-inline-widget {
      width: 80vw;
      height: 700px;
    }

    .end-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5%;

      h2 {
        font-size: 30px;
        text-align: center;
      }

      a {
        font-size: 12px;
      }
    }
  }

  .about-section {
    padding: 0 6%;

    h2,
    p {
      margin: 2%;
    }

    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 1140px) {
  .landing-page-container {
    main {
      .end-section {
        padding-bottom: 5%;

        h2 {
          font-size: 25px;
        }

        a {
          font-size: 18px;
        }
      }
    }

    .heading-section-container {
      min-height: unset;

      .heading-overlay {
        h1 {
          font-size: 40px;
        }

        h2 {
          font-size: 25px;
        }

        h3 {
          font-size: 16px;
        }

        .image-heading-wrapper {
          justify-content: center;

          img {
            width: 200px;
            padding-right: 10px;
          }

          .heading-wrapper {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .landing-page-container {
    main {
      .end-section {
        // padding: 10%;

        h2 {
          font-size: 18px;
        }

        a {
          font-size: 12px;
        }
      }
    }

    .heading-section-container {
      .heading-overlay {
        h1 {
          font-size: 35px;
        }

        h2 {
          font-size: 20px;
        }

        h3 {
          font-size: 14px;
        }

        .image-heading-wrapper {
          img {
            width: 150px;
            padding-right: 10px;
          }

          .heading-wrapper {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .landing-page-container {
    main {
      .end-section {
        // padding: 10%;

        h2 {
          font-size: 16px;
        }

        a {
          font-size: 11px;
        }
      }
    }

    .contact-button-wrapper {
      margin: 30px;

      button {
        font-size: 18px;
        // width: 50vw;
        padding: 20px;

        &:hover {
          background-color: #871c1e;
        }
      }
    }

    .heading-section-container {
      .heading-overlay {
        h1 {
          font-size: 30px;
        }

        h2 {
          font-size: 15px;
        }

        h3 {
          font-size: 12px;
        }

        .image-heading-wrapper {
          img {
            width: 100px;
            padding-right: 10px;
          }

          .heading-wrapper {
            justify-content: center;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .landing-page-container {
    .contact-button-wrapper {
      margin: 20px;

      button {
        font-size: 14px;
        // width: 50vw;
        padding: 15px;
      }
    }

    .heading-section-container {
      .heading-overlay {
        h1 {
          font-size: 25px;
        }

        h2 {
          font-size: 13px;
        }

        h3 {
          font-size: 11px;
          display: none;
        }

        .image-heading-wrapper {
          img {
            width: 100px;
            padding-right: 0px;
          }

          .heading-wrapper {
            justify-content: center;
            padding-bottom: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
