.landing-page-container {
  width: 100vw;

  .heading-section-container {
    width: 100%;
    background-image: url("../assets/landing-page/landing-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    width: 100vw;

    .heading-overlay {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);

      h1 {
        font-size: 80px;
        margin: 0;
      }

      .image-heading-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        // padding: 30px;

        img {
          width: 300px;
          padding-right: 100px;
        }

        .heading-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Navigation buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
  }

  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  .slideshow-1-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 650px;

    img {
      width: 400px;
    }
  }

  .slideshow-container {
    position: relative;
    // bottom: 650px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    // height: 20px;
    // height: 500px;
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth sliding transition */
    // width: 300%; /* Adjust based on number of images */
  }

  .slides img {
    width: 100%;
    flex: 0 0 100%; /* Ensures each image takes full width */
  }

  main {
    position: relative;
    bottom: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-button-wrapper {
    }

    .process-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }

    .delivery-img {
      width: 80%;
    }
  }
}
